.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url("D:\Web Development\cloth-shop-management\public\login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.admin-link-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.admin-link {
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.admin-link:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dashboard-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  text-align: center;
}

.dashboard-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dashboard-card {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  width: auto;
  height: auto;
  min-width: 200px;
  margin: 10px;
}

.dashboard-card .card-text {
  font-size: 1.5rem;
  color: inherit; /* Inherits the color from the parent */
  font-weight: bold;
}

.dashboard-card:hover {
  transform: scale(1.05); /* Slightly scale up the button on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.dashboard-card:focus {
  outline: none;
}

.dashboard-card span {
  font-size: 1.2rem;
  font-weight: 600;
}

.dashboard-card[data-color="orange"] {
  background-color: #ffe0b2; /* Light Orange */
}

.dashboard-card[data-color="green"] {
  background-color: #c5e1a5; /* Light Green */
}

.dashboard-card[data-color="blue"] {
  background-color: #b3e5fc; /* Light Blue */
}

.dashboard-card[data-color="pink"] {
  background-color: #f48fb1; /* Light Pink */
}

.dashboard-card[data-color="teal"] {
  background-color: #80d0c7; /* Light Teal */
}

.dashboard-card[data-color="orange"] .card-text,
.dashboard-card[data-color="green"] .card-text,
.dashboard-card[data-color="blue"] .card-text,
.dashboard-card[data-color="pink"] .card-text,
.dashboard-card[data-color="teal"] .card-text {
  color: #333; /* Dark text for better visibility on light backgrounds */
}

.dashboard-card[data-color="blue"] .card-text,
.dashboard-card[data-color="green"] .card-text {
  color: #fff; /* Light text for dark background */
}
