/* Employee Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  background-image: url("D:\Web Development\cloth-shop-management\public\login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.employee-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.employee-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.employee-list {
  margin-bottom: 20px;
}

.employee-name {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.employee-name:hover {
  background-color: #e0e0e0;
}

.employee-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.employee-detail-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.employee-details p {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #555;
}

.back-button {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.back-button:hover {
  background-color: #0056b3;
}

